extends ../../layout
append css
  link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.css')
  link(rel='stylesheet', href='/css/user.css')
block main
  div.container
        div.row
           div.col-xs-10.col-xs-offset-1.col-md-4.col-md-offset-4
               span.h3 用户注册  &nbsp;&nbsp;
               div.messages-info.alert
                   !=messages()
               form(action="/admin/users/register" method="post" enctype="application/x-www-form-urlencoded")
                 div.form-group
                     .input-group.input-group-lg
                          span#sizing-addon2.input-group-addon 
                             i.fa.fa-user
                          input.form-control(type='text' required placeholder='UserName......' name='name')
                  div.form-group
                     .input-group.input-group-lg
                          span#sizing-addon2.input-group-addon 
                             i.fa.fa-lock
                          input.form-control(type='password' required placeholder='UserPassword......' name='password')
                  div.form-group
                     .input-group.input-group-lg
                          span#sizing-addon2.input-group-addon 
                             i.fa.fa-envelope
                          input#email.form-control.disabled(type='email' required placeholder='UserEmail......' name='email')
                          span#verification.btn.btn-success.input-group-addon 发送
                  div.form-group
                     .input-group.input-group-lg
                          span.input-group-addon 验证码
                          input.form-control(type='text' required placeholder='verification code' name='verification')
                  div.form-group
                      button.btn.btn-success.form-control(type="submit" )注册
         div.col-md-4.col-xs-1
  script(src="../../js/user.js")       




   
