extends layout
block content
     | &nbsp;
     p.h2 DownLoad Code  
     | &nbsp;  测试数据,切勿当真
     table.table.table-bordered.table-striped.table-responsive
             thead
                th 资源名称
                th 资源链接
             tbody
                tr
                  td Bootstrap
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td NodeJS
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td AngularJS
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td Vue.JS
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td React.JS
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td jQuery
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td Zepto
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td Express
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
                         tr
                  td 
                  td 
                     a(href="https://www.baidu.com")
                         span https://www.baidu.com
         
               

